<div>
  <button (click)="onIncremant()">Incremant</button>
  <button (click)="onDecremant()">Decremant</button>
  <button (click)="onReset()">Reset</button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div formArrayName="items">
    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
      <input formControlName="name" placeholder="Name" />
      <input formControlName="quantity" placeholder="Quantity" />
      <button type="button" (click)="removeItem(i)">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addItem()">Add Item</button>
  <button type="submit">Submit</button>
</form>

<button (click)="loadComponent('dynamic')">Load dynamic Component</button>
<ng-template #dynamicContainer></ng-template>
